*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", serif;
}

/* -------------------------------------------------- */
/* Home page container */

.intro-slide {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

a {
  color: black;
}

a:hover {
  color: #357832;
}
/* Intro Text Styles */
.first-container {
  border-bottom: 2px solid black;
}

.intro-text {
  display: grid;
  place-content: center start; /* Center vertically, align to the left */
  height: 100vh; /* Full height of the viewport */
  padding-left: 30px;
}

.github-icon {
  width: 40px;
  margin: 0 auto;
  display: block;
}

.name {
  font-size: 1rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.intro-subtext {
  font-size: 18px;
  text-align: center;
}

/* Intro Illustration Styles */

.intro-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  border-left: 2px solid black;
}

.illustrations {
  height: 300px;
}

.image-one {
  background-color: #357832;
}

.image-two {
  background-color: #1392d3;
}

.image-three {
  background-color: #642648;
}

.image-four {
  background-color: #ffb632;
}

.image-one,
.image-two,
.image-three,
.image-four {
  display: grid;
  place-items: center; /* Centers both horizontally and vertically */
}

/* -------------------------------------- */

/* Alternating Containers */
.first-alt-container {
  display: grid;
  grid-template-columns: 2.05fr 1fr;
  height: 100vh;
  border-bottom: 2px solid black;
}

.second-alt-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
  border-bottom: 2px solid black;
}

/* -------------------------------------- */

/* Challenge One Container */
/* .challenge-one-container {
  display: grid;
  grid-template-columns: 2.05fr 1fr;
  height: 100vh;
  border-bottom: 2px solid black;
} */

.c-one-image {
  background-color: #2d7dfa;
  display: grid;
  place-content: center center;
  border-right: 2px solid black;
}

.challenge-one-image {
  height: 500px;
  border-radius: 5px;
}

.c-one-text {
  display: grid;
  place-content: center;
  padding-left: 50px;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

.viewlink {
  margin-top: 30px;
  margin-bottom: 30px;
}

.text {
  line-height: 1.5rem;
}

/* Challenge Two Container */

/* .challenge-two-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
  border-bottom: 2px solid black;
} */

.c-two-image {
  border-left: 2px solid black;
  background-color: #f4d04e;
  display: grid;
  place-content: center center;
}

.challenge-two-image {
  object-fit: contain;
  height: 500px;
}

.c-two-text {
  display: grid;
  place-content: center;
  text-align: center;
}

/* Challenge Three Container */

.c-three-image {
  background-color: #141414;
  display: grid;
  place-content: center center;
  border-right: 2px solid black;
}

.challenge-three-image {
  height: 800px;
  border-radius: 5px;
}

.c-three-text {
  display: grid;
  place-content: center;
  padding-left: 50px;
  text-align: center;
}

/* Challenge Four Container */
.c-four-image {
  background-color: #f3e5d7;
  border-left: 2px solid black;
  display: grid;
  place-content: center center;
}

/* Media Queries */

@media screen and (max-width: 500px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .intro-slide {
    grid-template-columns: 1fr;
  }

  .intro-text {
    height: 400px;
  }

  .intro-images {
    height: 400px;
    border-top: 2px solid black;
    border-left: none;
  }

  .illustrations {
    height: 150px;
  }

  .challenge-one-container {
    grid-template-columns: 1fr;
    height: 800px;
  }

  .challenge-one-image {
    height: 300px;
  }

  .challenge-two-container {
    grid-template-columns: 1fr;
    height: 1000px;
  }

  .challenge-two-image {
    height: 300px;
  }

  .c-two-image {
    border-left: none;
  }

  .challenge-three-container {
    grid-template-columns: 1fr;
    height: 1000px;
  }

  .challenge-three-image {
    height: 400px;
  }

  .c-three-text {
    padding-left: 0;
  }

  .c-four-image {
    border-left: none;
  }
}
