.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: #ecf2f8;
  margin: 0;
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-card {
  display: flex;
  justify-content: space-between;
  /* gap: 40px; */
  width: 690px;
  height: 280px;
  background-color: white;
}

.main-image-container {
  overflow: hidden;
  width: 275px;
  height: 280px;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 20% 15%;
}

.text-container {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 40px;
  position: relative;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  line-height: 130%;
  letter-spacing: 0.25%;
  color: #48556a;
}

.small-intro-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.12%;
  color: #6e8098;
  margin-top: 24px;
  margin-bottom: 24px;
}

.avatar-name-share-container {
  display: flex;
  justify-content: space-between;
}

.avatar-name-container {
  display: flex;
  gap: 16px;
}

.avatar-img {
  height: 40px;
  border-radius: 40px;
}

.name-text {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  line-height: 140%;
  letter-spacing: 0.12%;
  color: #48556a;
}

.date-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.12%;
  color: #9daec2;
}

.share-img-container {
  align-content: center;
  width: 32px;
  height: 32px;
  border-radius: 40px;
  background-color: #ecf2f8;
  text-align: center;
}

.share-img {
  display: inline;
  width: 15px;
  height: 12px;
}

#js-toggle-pop-up {
  display: none;
}

.share-pop-up-container {
  position: absolute;
  left: 185px;
  bottom: 30px;
}

.share-elements-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  width: 180px;
  align-items: center;
  position: absolute;
  top: 115px;
  left: 230px;
}

.share-tag {
  font-size: 13px;
  font-weight: 200;
  letter-spacing: 3px;
  color: #9daec2;
  margin: 0;
}

.twitter-icon {
  height: 18px;
  display: inline;
  text-align: center;
  margin-top: 3px;
}
