.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: #ecf2f8;
  margin: 0;
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-card {
  display: flex;
  justify-content: space-between;
  width: 690px;
  height: 280px;
  background-color: white;
  border-radius: 10px;
}

.main-image-container {
  overflow: hidden;
  width: 275px;
  height: 280px;
  border-radius: 10px 0 0 10px;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 20% 15%;
}

.text-container {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 40px;
  position: relative;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  line-height: 130%;
  letter-spacing: 0.25%;
  color: #48556a;
}

.small-intro-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.12%;
  color: #6e8098;
  margin-top: 24px;
  margin-bottom: 24px;
}

.avatar-name-share-container {
  display: flex;
  justify-content: space-between;
}

.avatar-name-container {
  display: flex;
  gap: 16px;
}

.avatar-img {
  height: 40px;
  border-radius: 40px;
}

.name-text {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  line-height: 140%;
  letter-spacing: 0.12%;
  color: #48556a;
}

.date-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.12%;
  color: #9daec2;
}

.share-img-container {
  align-content: center;
  width: 32px;
  height: 32px;
  border-radius: 40px;
  background-color: #ecf2f8;
  text-align: center;
  cursor: pointer;
}

.share-img {
  display: inline;
  width: 15px;
  height: 12px;
  fill: #ecf2f8;
}

.share-pop-up-container {
  position: absolute;
  left: 185px;
  bottom: 30px;
}

.share-elements-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  width: 180px;
  align-items: center;
  position: absolute;
  top: 115px;
  left: 230px;
}

.share-tag {
  font-size: 13px;
  font-weight: 200;
  letter-spacing: 3px;
  color: #9daec2;
  margin: 0;
}

.twitter-icon {
  height: 18px;
  display: inline;
  text-align: center;
  margin-top: 3px;
}

/* Toggle Styles */

.hide-pop-up {
  display: none;
}

.toggle-color {
  background-color: #6e8098;
}

.toggle-svg-color {
  fill: white;
}

/* Mobile View Share Container */
.mobile-view-share-elements-container {
  display: none;
}

/* Media Queries */
@media screen and (max-width: 650px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .container-card {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    width: 330px;
    height: 540px;
  }

  .main-image-container {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
  }

  .text-container {
    margin: 32px 30px 18px 30px;
  }

  .text-break-none {
    display: none;
  }

  .small-intro-text {
    margin-bottom: 0px;
  }

  .avatar-name-share-container {
    margin-top: 45px;
  }

  .mobile-view-share-elements-container {
    display: none;
    background-color: #48556a;
    margin-top: 5px;
    border-radius: 0px 0px 10px 10px;
    height: 85px;
    width: 100%;
  }

  .mv-core-container {
    display: flex;
    justify-content: space-between;
    margin: 22px 30px 22px 30px;
  }
  .mobile-icons {
    display: flex;
    gap: 20px;
  }
  .share-tag {
    display: inline;
    align-self: center;
  }

  .mb-facebook-icon,
  .mb-twitter-icon,
  .mb-pinterest-icon {
    width: 20px;
    height: 20px;
    display: inline;
    align-self: center;
  }

  .mobile-share-icon {
    align-content: center;
    background-color: #6e8098;
    width: 32px;
    height: 32px;
    border-radius: 40px;
    text-align: center;
  }

  .share-img {
    display: inline;
  }
  /* Hide and Display Styles */
  .hide-container {
    display: none;
  }

  .show-container {
    display: block;
  }

  .share-elements-container {
    display: none;
  }

  .share-pop-up-container {
    display: none;
  }
}
